.timer-cnt{
    margin: 8px;
}
.time{
    margin: 8px;
}

.btn{
    cursor: pointer;
    outline: none;
    width: 120px;
    height: 50px;
    background-color: #fff;
    border-radius: 12px;
}
.time{
    gap: 3px    ;
}