.main-cnt{
    display: flex;
    gap: 5px    ;
}
.tab{
    width: 25px;
    height: 25px;
    background-color: grey;
    border-radius: 10px;
    /* border: 1px solid black; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.active-tab{
    background-color: green;
}