.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #fff;
    width: 200px;
    height: 200px;
    padding: 10px;
}
.close-btn{
    display: flex;
    justify-content: flex-end;
}