.otp-cnt{
    padding: 10px;
    display: flex;
    gap: 8px;
}

.each-otp-box{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    /* border-radius: 12px; */
    overflow: hidden;
}
.each-otp-box input{
    width: 100%;
    height: 100%;
    border: none;
}